<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816204768401-d4kc24kelc9ve10m75uhf1gd73tbmp9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816204768401-d4kc24kelc9ve10m75uhf1gd73tbmp9b</string>
	<key>API_KEY</key>
	<string>AIzaSyCTGOYWA3iDrIrucROJpzI8vy4Qjhd8jcA</string>
	<key>GCM_SENDER_ID</key>
	<string>816204768401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erdemozkok.PhotoShare</string>
	<key>PROJECT_ID</key>
	<string>photoshareswift</string>
	<key>STORAGE_BUCKET</key>
	<string>photoshareswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816204768401:ios:234a6b92c4ef0430ec8b30</string>
</dict>
</plist>